<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>actor</key>
		<string>Matthew Fox</string>
		<key>passenger</key>
		<string>Jack Shepard</string>
		<key>gender</key>
		<string>Male</string>
		<key>seat</key>
		<string>1</string>
		<key>age</key>
		<string>32</string>
	</dict>
	<dict>
		<key>actor</key>
		<string>Evangeline Lilly</string>
		<key>passenger</key>
		<string>Kate Austen</string>
		<key>gender</key>
		<string>Female</string>
		<key>seat</key>
		<string>2</string>
		<key>age</key>
		<string>26</string>
	</dict>
	<dict>
		<key>actor</key>
		<string>Jorge Garcia</string>
		<key>passenger</key>
		<string>Hugo &quot;Hurley&quot; Reyes</string>
		<key>gender</key>
		<string>Male</string>
		<key>seat</key>
		<string>3</string>
		<key>age</key>
		<string>24</string>
	</dict>
</array>
</plist>
